/* Popup menu container */
.popup-menu {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #2c2c2c;
  color: #d1d1d1;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 412px;
  height: 312px;
  z-index: 1000;
  overflow: hidden;
}

/* Main Menu (Left Column) */
.main-menu {
  width: 50%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.main-menu span {
  font-size: 16px;
  padding: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border-radius: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.main-menu span:hover {
  background-color: #444;
  color: #fff;
}

/* Arrow on the left */
.main-menu span .arrow {
  font-size: 14px;
  color: #b3b3b3;
  margin-left: 55%;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.main-menu span:hover .arrow {
  transform: translateX(5px);
  color: #fff !important;
}

/* Dividing Line */
.divider {
  width: 1px;
  background-color: #444;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s;
  opacity: 0;
}

.divider.visible {
  visibility: visible;
  opacity: 1;
}

/* Submenu (Right Column) */
.submenu {
  width: 50%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.submenu span {
  font-size: 14px;
  color: #b3b3b3;
  padding: 8px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.submenu span:hover {
  background-color: #444;
  color: #fff;
}

/* Popup Menu for Mobile */
.popup-menu-mobile {
  position: fixed;
  top: 110px;
  left: 65;
  width: 256px;
  max-width: 400px;
  background-color: #2f2f2f;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  padding: 10px;
}

/* Main Menu */
.main-menu-mobile {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  display: flex;
  direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 14px;
}
.arrow-mobile {
  align-self: flex-end;
}
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu-item:hover {
  background-color: #444;
}

.menu-item:last-child {
  border-bottom: none;
}
/* Submenu */
.submenu-mobile {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.submenu-item {
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease-in-out;
}

.submenu-item:hover {
  background-color: #444;
}

/* Back Button */
.back-button {
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  color: #ccc;
  margin-bottom: 20px;
  transition: color 0.3s ease-in-out;
}

.back-button:hover {
  color: #fff;
}

.menu-header {
  display: flex;
  direction: row;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #444;
}

.menu-nonmobile {
  display: flex;
  direction: row;
  justify-content: space-between;
}
