.navbar {
    background-color:inherit;
    color: #fff;
    padding: 10px;
    display: flex;
    width: inherit;
    justify-content: space-between;
    align-items: center;
    margin: 0 2% 0 2%;
  }
  
  .logo {
    flex: 1;
  }
  
  .logo img {
    width: 100px; /* Adjust the width as needed */
  }
  
  .search {
    flex: 2;
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 15px;
    padding: 5px;
  }
  
  .search input {
    flex: 1;
    border: none;
    background-color: transparent;
    color: #fff;
    padding: 5px;
  }
  
  .search select {
    border: none;
    background-color: transparent;
    color: #fff;
    padding: 5px;
  }
  
  .search button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .actions button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .actions i {
    margin-right: 5px;
  }